body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}
header {
    background-color: #ADC5B7;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.logo {
    color: #4E5454;
}
.search {
    background-color: #BFB1A0;
    border: #E3DFD4 2px solid;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    color: #5A5A4D;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;

}
.cart-button {
    color: #E3DFD4;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    box-shadow: inset 0 -3px 0 #737373;
    border-radius: 3px;
    background-color: #4E5454;
    transition: 0.4s;
}
.cart-button:hover {
    color: #4E5454;
    background-color: #E3DFD4;
}
.goods {
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5%;
    background-color: #E3DFD4;
    color: #4E5454;
    min-height: 670px;
    
}
.goods_empty {
    font-weight: 800;
    color: #4E5454;
}
.item {
    background-color: #ADC5B7;
    padding: 3%;
    min-width: 15%;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
}
.basket {
    position: absolute;
    top: 100px;
    right: 36px;
    padding: 3%;
    background-color: #BFB1A0;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    color: #C0D4C9;
}
.basket_item { 
    background-color: #5A5A4D;
    padding: 40px;
    margin-bottom: 10px;
}
.delete_button {
    color: #4E5454;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: #E3DFD4;
    transition: 0.4s;
}
.calcTotalPrice {
    color: #4E5454;
    margin-bottom: 15px;
}
.add-to-basket {
    color: #E3DFD4;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    box-shadow: inset 0 -3px 0 #737373;
    border-radius: 3px;
    background-color: #4E5454;
    transition: 0.4s;
}
.add-to-basket:active {
    background-color: #657163;
}
.item:hover{
    background-color: #BFB1A0;
    color: #657163;
    transform: scale(1.1);
    transition: 0.4s;
}