/*variables*/
body {
  font-family: sans-serif;
  max-width: 1140px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  padding: 10px 10px;
  font-family: sans-serif;
  border-radius: 10px;
}
header .logo {
  font-size: 20px;
  font-weight: bold;
  color: cadetblue;
}
header .search-wrap {
  display: flex;
  justify-content: space-between;
  min-width: 19%;
}
header .search {
  min-width: 20%;
  min-height: 20px;
  border-radius: 10px;
  padding-left: 10px;
  border: cornsilk;
}
header .search-btn {
  min-width: 20%;
  min-height: 20px;
  border-radius: 10px;
  padding-left: 10px;
  border: none;
  color: cornsilk;
  background-color: #8d73a5;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cart-button {
  position: relative;
}
header .cart-button .cart-btn {
  position: relative;
  min-height: 40px;
  min-width: 100px;
  font-size: 14px;
  color: cornsilk;
  background-color: cadetblue;
  border: none;
  border-radius: 10px;
}
header .cart-button .cart-qiantity {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d89a83;
  top: -5px;
  right: -5px;
  font-size: 12px;
  color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
main {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
main .error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main .goods .goods-no {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .goods .item {
  background-color: cadetblue;
  padding: 10px;
  min-height: 10%;
  min-width: 30%;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: cornsilk;
  border-radius: 5px;
  margin-bottom: 10px;
}
main .goods .item img {
  display: flex;
  width: 100px;
  height: 100px;
  max-width: 70%;
  max-height: 70%;
}
main .goods .item h2 {
  margin: 10px;
}
main .goods .item p {
  margin: 10px;
}
main .goods .item .buy {
  min-width: 30%;
  max-width: 45%;
  border-radius: 5px;
  font-size: 14px;
  color: cornsilk;
  background-color: #8d73a5;
  border: none;
  min-height: 15%;
  margin-bottom: 20px;
}
main .basket {
  display: flex;
  background-color: cadetblue;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  color: cornsilk;
}
main .basket .basket-item-wrap {
  min-width: 50%;
}
main .basket .basket-item-wrap .basket-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main .basket .basket-item-wrap .delete-btn {
  min-width: 30%;
  max-width: 60%;
  min-height: 100%;
  border-radius: 5px;
  font-size: 14px;
  color: cornsilk;
  background-color: #8d73a5;
  border: none;
  min-height: 30px;
}
main .basket .basket-item-wrap .add-btn {
  border-radius: 5px;
  font-size: 20px;
  color: cornsilk;
  background-color: #8d73a5;
  border: none;
  min-height: 30px;
  min-width: 30px;
}
main .basket .basket-item-wrap .reduce-btn {
  border-radius: 5px;
  font-size: 20px;
  color: cornsilk;
  background-color: #8d73a5;
  border: none;
  min-height: 30px;
  min-width: 30px;
}
main .contact-info {
  display: flex;
  flex-direction: column;
  max-width: m;
  align-items: center;
  border-radius: 10px;
  background: lightgrey;
  color: cornsilk;
  justify-content: space-evenly;
  min-height: 300px;
}
main .contact-info input {
  border: none;
  border-radius: 10px;
  min-height: 20px;
  min-width: 200px;
}
main .contact-info button {
  min-height: 40px;
  min-width: 100px;
  font-size: 14px;
  color: cornsilk;
  background-color: cadetblue;
  border: none;
  border-radius: 10px;
}
